Repository AISP-PL/ssya: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff lint, mypy, taplo

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ruff format
    name: ruff format
    types_or: [python, pyi]
    require_serial: true
    language: system
    entry: uv run --no-sync ruff format --diff --config=pyproject.toml

  - id: ruff lint
    name: ruff lint
    types: [python]
    require_serial: true
    language: system
    entry: uv run --no-sync ruff check --config=pyproject.toml

  - id: mypy
    name: mypy
    types: [python]
    require_serial: true
    language: system
    entry: uv run --no-sync mypy --config=pyproject.toml

  - id: taplo
    name: taplo
    types_or: [toml]
    require_serial: true
    minimum_pre_commit_version: 2.9.2
    language: system
    entry: uv run --no-sync taplo format

First ver.
  pyproject.toml
  ssya/__init__.py
  ssya/main.py
Due: ruff lint, mypy, taplo

Fixes.
  pyproject.toml
  uv.lock
Due: taplo

Fixes.
  ssya/main.py
Due: ruff lint, mypy

Fixes.
  .vscode/launch.json
  ssya/main.py
Due: ruff lint, mypy

Fixes.
  .vscode/launch.json
Due: none

Fixes.
  images/01101362e06fd5720647eeba5922bf3cb432f4ca.png
  images/01101362e06fd5720647eeba5922bf3cb432f4ca.txt
  images/192e2ab2dd07dfe002586af2df6fd5ad775d0073.jpg
  images/414b2c60d4399fd180320d42e7c35b2514b2e0fb.JPG
  images/414b2c60d4399fd180320d42e7c35b2514b2e0fb.txt
  images/7e954dc0a66a0659163da55410280574388f137d.jpg
  images/7e954dc0a66a0659163da55410280574388f137d.txt
  images/8f4de79e2f402d169ca9d902d8bbd45be34a6361.png
  images/8f4de79e2f402d169ca9d902d8bbd45be34a6361.txt
  images/image.png
  images/image.txt
  ssya/main.py
Due: ruff lint, mypy

Fixes.
  pyproject.toml
  ssya/main.py
  uv.lock
  zoo/.gitkeep
  zoo/.gitkepp
Due: ruff lint, mypy, taplo

Fixes.
  .gitignore
  ssya/main.py
Due: ruff lint, mypy

fixes.
  ssya/main.py
Due: ruff lint, mypy

Fixes.
  README.md
Due: none

Updsate.
  ssya/controllers/dataset_manager.py
  ssya/controllers/features_index.py
  ssya/controllers/sam2_wrapper.py
  ssya/helpers/metrics.py
  ssya/main.py
  ssya/models/detection.py
  ssya/widgets/image_viewer.py
Due: ruff lint, mypy

Fixes.
  ssya/controllers/features_index.py
  ssya/controllers/sam2_wrapper.py
  ssya/main.py
Due: ruff lint, mypy
